<div id="chat_room" rel-channel-name="<%= channel_name %>" rel-name="<%= room_name %>">

  <div class="content_border">
    <div id="chat_demo" class="content_box">

      <label for="chat_name">ScreenName:</label>
      <input type="text" name="chat_name" class="chat_name" value=""/ >

      <div id="chat_window"></div>

      <textarea class="chat_message" name="chat_message"></textarea>

    </div>
  </div>
</div>